@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");


/* css for body part */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url(b2.avif);
    background-size: cover;
    background-attachment: fixed;
  }
  

/* styling for box of entire content */
.App {
  max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    padding-left: 15rem;    
    


}
/* styling for to-do list heading */
.heading {
  font-size: 3rem;
    font-weight: 1100;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    margin-top: -0.2rem;
    position: relative;
    display: inline-block;  
      


}

  .heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #3e5bb3;
    animation: glowingBorder 4s ease-in-out infinite;
  }
  
  @keyframes glowingBorder {
    0% {
      background-color: #3e5bb3;
      box-shadow: 0 0 5px #3e5bb3;
    }
    50% {
      background-color: #63a4da;
      box-shadow: 0 0 10px #63a4da;
    }
    100% {
      background-color: #3664f1a2;
      box-shadow: 0 0 5px #4e73df;
    }
  }
  
  .heading {
    background: linear-gradient(to right, #63a4da, #3e5bb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(59, 5, 196, 0.562);
  }
  



  /* styling for heading Plan */
.headingPlan {
   font-size: 2rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0rem;
    margin-top: -0.2rem;
    position: left;
    

}

  .headingPlan {
    background: linear-gradient(to bottom, rgb(218, 60, 123), rgb(174, 4, 72));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
 /* styling for the Bar where the task is added and Add button */
.taskAddingBar {
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 3rem;
  margin-top: 1rem;    
  

}

.taskAddingBar input[type="text"] {
  flex: 1;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: 1.5px solid hsla(330, 96%, 44%, 0.683);
  border-radius: 0.8rem;
  background-color: transparent;
  margin-right: 2rem;
}

.taskAddingBar input[type="submit"] {
  background: linear-gradient(to right, rgb(203, 56, 125), rgba(125, 2, 64, 0.849));
  color: white;
  padding: 0.8rem 1.3rem;
  border: 1.5px solid pink;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  margin-left: 3px;
  cursor: pointer;
}

.taskAddingBar input[type="submit"]:hover {
  filter: brightness(1.5);
}

.taskAddingBar :hover {
  filter: brightness(1.8);
}


 /* styling for heading task */

  .headingTasks {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0rem;
    margin-top: -0.2rem;
    position: left;
    display: inline-block;
    
}

  .headingTasks {
    background: linear-gradient(to bottom, rgb(218, 60, 123), rgb(174, 4, 72));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



  /*styling for the box where contents checkbox
  text, edit , delete and complete buttons lies  */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: 0.8px solid #3664f1a2;
  border-radius: 0.8rem;
  width: 85%;
  
}

/* styling for check box and added contents   */
.content {
  display: flex;
  align-items: center;
  margin-left: 0.3rem;
}



/* styling for text in completed Tasks list */
.completed {
  margin-left: 1rem;
  flex: 1;
  font-size: 1.3rem;
  font-weight: 500;
  border: none;
  border-radius: 0.8rem;
  background-color: transparent;
  margin-right: 2rem;

}


 /* styling for heading Completed Tasks */

 .headingCompletedTasks {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0rem;
  margin-top: -0.2rem;
  position: left;
  display: inline-block;

}

.headingCompletedTasks {
  background: linear-gradient(to bottom, rgb(218, 60, 123), rgb(174, 4, 72));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





/* style for back button */

.back {
  background: transparent;
  color: rgba(125, 2, 64, 0.849);
  padding: 0.8rem 1.3rem;
  border: 1.5px solid rgba(125, 2, 64, 0.849);
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 3px;
  margin-top: 2rem;
  cursor: pointer;
  
}

.back:hover {
  background: rgba(125, 2, 64, 0.849);
  color: white;
  opacity: 0.8;
  border: 1px solid white;
}



/* styling for buttons :- "completed tasks" & "Hide completed Tasks" */
.toggle-completed {
  font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #3e5bb3, rgba(59, 5, 196, 0.562));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    padding: 0;
    color: inherit;
    position: fixed;
    top: 9.5rem; /* Adjust the top value as per your preference */
    right: 12rem; /* Adjust the right value as per your preference */
  
}


/* styling for Delete All button and Mark as completed button */
.delete-selected{
  background: transparent;
  color:  rgba(125, 2, 64, 0.849);
  padding: 0.8rem 1.3rem;
  border: 1.5px solid  rgba(125, 2, 64, 0.849);
  border-radius: 0.8rem;
  font-size: 1.2rem;font-weight: bold;
  margin-left: 3px;
  margin-top: 2rem;
  cursor: pointer;
}
.mark-selected {
  background: transparent;
  color:  rgba(125, 2, 64, 0.849);
  padding: 0.8rem 1.3rem;
  border: 1.5px solid  rgba(125, 2, 64, 0.849);
  border-radius: 0.8rem;
  font-size: 1.2rem;font-weight: bold;
  margin-left: 3px;
  margin-top: 2rem;
  cursor: pointer;
}

.delete-selected:hover,
.mark-selected:hover {
  filter: brightness(1.2);
  background-color: rgba(125, 2, 64, 0.849);
  opacity: 0.8;
  color: white;
  border: 1px solid white;
}

/* style for delete button */
.delete{

  
    border: none; /* Hide the border */
    background-color: transparent; /* Set transparent background */
    display: inline-block; /* Display as inline element */
    padding: 0; /* Remove any padding */
    background-image: linear-gradient(to right,  rgb(218, 60, 123), rgb(174, 4, 72)); /* Gradient background */
    -webkit-background-clip: text; /* Apply gradient to the text */
    -webkit-text-fill-color: transparent; /* Set text color as transparent */
    font-size: large;
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  /* style for checkbox in completed task list */
    .check {
      
      background-color: skyblue;
      border: 1px solid rgba(59, 5, 196, 0.562); /* Set border color and thickness */
      border-radius: 4px;
      padding: 10px; /* Adjust padding to control the size of the checkbox */
      margin-right: 1rem;
      
    }
 
    
    /* style for incomplete button */
.incomplete{
  
  border: none; /* Hide the border */
  background-color: transparent; /* Set transparent background */
  display: inline-block; /* Display as inline element */
  padding: 0; /* Remove any padding */
  background-image: linear-gradient(to right,   #1d3ea0, rgb(59, 5, 196)); /* Gradient background */
  -webkit-background-clip: text; /* Apply gradient to the text */
  -webkit-text-fill-color: transparent; /* Set text color as transparent */
  font-size: large;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
}  




/* style for edit button */
.edit {
  border: none; /* Hide the border */
  background-color: transparent; /* Set transparent background */
  display: inline-block; /* Display as inline element */
  padding: 0; /* Remove any padding */
  background-image: linear-gradient(to right,   #c4b808, rgb(171, 74, 5)); /* Gradient background */
  -webkit-background-clip: text; /* Apply gradient to the text */
  -webkit-text-fill-color: transparent; /* Set text color as transparent */
  font-size: large;
  font-weight: 500;

}


/* style for complete button */
.complete {
  border: none; /* Hide the border */
  background-color: transparent; /* Set transparent background */
  display: inline-block; /* Display as inline element */
  padding: 0; /* Remove any padding */
  background-image: linear-gradient(to right, #027023, rgb(1, 66, 19)); /* Gradient background */
  -webkit-background-clip: text; /* Apply gradient to the text */
  -webkit-text-fill-color: transparent; /* Set text color as transparent */
  font-size: large;
  font-weight: 500;
  margin-right: 1rem; /* Add margin to create space between buttons */
}

/* style for cancel button */
.cancel {
  border: none; /* Hide the border */
  background-color: transparent; /* Set transparent background */
  display: inline-block; /* Display as inline element */
  padding: 0; /* Remove any padding */
  background-image: linear-gradient(to right, rgb(173, 42, 108), crimson); /* Gradient background */
  -webkit-background-clip: text; /* Apply gradient to the text */
  -webkit-text-fill-color: transparent; /* Set text color as transparent */
  font-size: large;
  font-weight: 500;
  margin-left: 1rem; /* Add margin to create space between buttons */
}

/* style for save button */
.save {
  border: none; /* Hide the border */
  background-color: transparent; /* Set transparent background */
  display: inline-block; /* Display as inline element */
  padding: 0; /* Remove any padding */
  background-image: linear-gradient(to right, #1d3ea0, rgb(59, 5, 196)); /* Gradient background */
  -webkit-background-clip: text; /* Apply gradient to the text */
  -webkit-text-fill-color: transparent; /* Set text color as transparent */
  font-size: large;
  font-weight: 500;
  margin-left: 1rem; /* Add margin to create space between buttons */
}

/* style for text in completed task */
.completed{
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: -0.2rem;

}

.content{
  font-size: 1.3rem;
  font-weight: 500;
  
}


/* style for text when save button is active */

.text {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
  color: #000; /* Add a color to make the text visible */
}
.text.active {
  color: black;
}









/* CSS for mobile devices */
@media (max-width: 600px) {
  body {
    padding: 1rem;
    background-position: right;
  }

  .App {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .taskAddingBar {
    width: 100%;
    flex-wrap: wrap;
  }

  .taskAddingBar input[type="text"] {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .taskAddingBar input[type="submit"] {
    width: 100%;
    margin-left: 0;
  }

  .task {
    width: 100%;
  }

  .completed {
    margin-right: 0;
  }

  .toggle-completed {
    top: 1rem;
    right: 1rem;
  }

  .delete-selected,
  .mark-selected-completed {
    margin-top: 1rem;
  }

  .taskAddingBar {
    flex-direction: column;
  }

  .taskAddingBar input[type="text"] {
    margin-bottom: 1rem;
  }

  .toggle-completed {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 2rem;
  }
}
